name: CI Pipeline
on: 
   pull_request:
     branches:
       - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: printing a message with cron job
              run: echo "Hello, World!"
          